Ejercicios de Validación XML DTD/Validación XML-DTD II/Ejercicio 2/nba.dtd

<!ELEMENT liga (jugador+)>
<!ELEMENT jugador (nombre, apellidos, equipo, edad)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT apellidos (#PCDATA)>
<!ELEMENT equipo (ciudad, presidente)>
<!ELEMENT ciudad (#PCDATA)>
<!ELEMENT presidente (nombrePresidente, apellidosPresidente)>
<!ELEMENT nombrePresidente (#PCDATA)>
<!ELEMENT apellidosPresidente (#PCDATA)>
<!ELEMENT edad (#PCDATA)>

