Ejercicios de Validación XML/Validación XML-DTD I/Ejericio3/agenda.dtd

<!ELEMENT agenda (nombre, apellido+, telefono, fecha_nacimiento, lugar_nacimiento)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT apellido (#PCDATA)>
<!ELEMENT telefono (#PCDATA)>
<!ELEMENT fecha_nacimiento (anio, mes, dia)>
<!ELEMENT anio (#PCDATA)>
<!ELEMENT mes (#PCDATA)>
<!ELEMENT dia (#PCDATA)>
<!ELEMENT lugar_nacimiento (pais, ciudad, localidad)>
<!ELEMENT pais (#PCDATA)>
<!ELEMENT ciudad (#PCDATA)>
<!ELEMENT localidad (#PCDATA)>

